.grid-container {
    height: 960px;
    width: 960px;
    overflow: hidden;
    background-color: pink;
    display: flex;
    flex-wrap: wrap;
}

.grid-container div{
    background-color: lightblue;
    height: 60px;
    width: 60px;
}

.change-grid {
    font-size: 24px;
    padding: 8px;
    margin: 20px auto;
}

.grid-container .hovered{
    background-color: blue;
}
